<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>KYB INC.</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="/static/sentiment/main.js"></script>
</head>
<body>

<div class="section no-pad-bot" id="index-banner">

    <div class="container">
        <br><br>

        <h1 class="header center orange-text">Know Your Brand</h1>

        <div class="row center">
            <h5 class="header col s12 light">A modern tool for Twitter analytics. Give us your money.</h5>
        </div>

        <div class="row center" style="width:500px; margin:0 auto;">
            <div class="input-field col s12">
                <input id="query-input" type="text" maxlength="50">
                <label class="active" for="query-input">Brand name</label>
            </div>
        </div>

        <br>

        <div class="row center">
            <a id="search-button" class="btn-large waves-effect waves-light orange">Search</a>
        </div>

        <br>

        <div class="row center">

            <div id="progressbar" class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

            <div id="graph" class="card-panel hoverable"
                 style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

            <br/>

            <div id="tweet_container" class="card-panel hoverable"
                 style="min-width: 310px; max-width: 600px; margin: 0 auto">
                <h6 class="light truncate orange-text" id="pos-tweet"></h6>
                <h6 class="light truncate" id="neg-tweet"></h6>
                <h6 class="light truncate" id="pos-count"></h6>
                <h6 class="light truncate" id="neg-count"></h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>
